.questionnaire.description {
    .assessment-menu-dropdown {
        max-height: 80vh;
        width: 280px;
        overflow-y: auto;
        padding: 12px;

        .dropdown-item {
            padding: 10px;
            display: block;

            &:nth-child(even) {
                background-color: #f3f3f3;
            }

            .version {
                font-size: 11px;
            }
        }
        .delete-confirm-buttons {
            margin-left: -15px;
            margin-right: -15px;
        }

        .btn {
            margin-top: 10px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .btn-default {
            background-color: #e0e0e0;
            color: #333;
        }

        .delete-confirmation {
            display: none;
        }

        .show-confirmation {
            .delete-confirmation {
                display: block;
            }

            .dropdown-delete {
                display: none;
            }
        }
    }
}
