<ul class="ipt-links">
  {{#each questionnaire._embedded.questionnaires}}
    <li class="questionnaire-name">
      <a href="" data-url="{{_links.self.href}}" class="quesitonnaire-link">{{name}}</a>
    </li>
  {{/each}}
</ul>