<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {{#each questionnaire._embedded.questionnaires}}
        <div class="questionnaire-name"><a href="{{_links.self.href}}" class="quesitonnaire-link" data-id="{{id}}">{{name}}</a></div>
      {{/each}}
    </div>
  </div>
</div>
