<div class="ipt">
  <div class="container">
    <div class="ipt-container">
      <div class="row title-section">
        <div class="col-sm-2">
          <div class="logo"></div>
        </div>
        <div class="col-sm-3">
          <h2 class="ipt-title">IIC Project Explorer</h2>
        </div>
        <div class="col-sm-4">
          <div class="progress-container">
            <span class="progress-label">Progress</span>
            <div class="progress-bar-container">
              <div class="progress-bar"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="blue-button-container">
            <button class="blue-button download-json">Save</button>
            <button class="blue-button load-json">Load</button>
            <input type="file" id="inputFile" value="Import" />
            <button class="blue-button copyright">&copy;</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="ipt-body">
          {{> loading}}
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
