<div class="survey-tool-export-assessment-properties">
  <div class="survey-tool-export-message">
    Information about this assessement export.
  </div>

  <div class="form">
    <input type="text" class="form-control" name="name" placeholder="Name" />
    <input type="text" class="form-control" name="revision" placeholder="Revision" />
    <textarea class="form-control" name="description" placeholder="Description"></textarea>

    <div class="btn-group pull-right">
      <button type="button" class="btn btn-primary" data-survey-tool-action="export">Export</button>
      <button type="button" class="btn btn-default" data-survey-tool-action="cancel">Cancel</button>
    </div>
  </div>
</div>
