<div class="row">
  <div class="col-sm-12 warpjs-list-container">
    <div class="question-block">
      <div class="position-display selected-position{{answerNum}}">
        <div class="position1"></div>
        <div class="position2"></div>
        <div class="position3"></div>
        <div class="position4"></div>
      </div>
      <span class="summary-question">{{questionName}}</span>
      <span class="summary-selection">{{answerName}}</span>
    </div>
  </div>
</div>
<div class="thumbs-container row">
  <div class="col-sm-12 thumb-line">
    <input type="radio" name="thumb-value" value="up" data-direction="thumbsup">
    <label class="radio-text" >I like this recommendation</label>
  </div>
  <div class="col-sm-12 thumb-line">
    <input type="radio" name="thumb-value" value="down" data-direction="thumbsdown">
    <label class="radio-text">I don't like this recommendation</label>
  </div>
  <div class="col-sm-12">
    <textarea id="feedback-reason" placeholder="Please describe your reason."></textarea>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 buttons">
    <button class="related-feedback-submit">Submit</button>
    <button class="related-feedback-close" data-dismiss="modal">Close</button>
  </div>
</div>
