<div class="row">
  <div class="col-sm-12">
    <input type="radio" name="based-on" value="Real-world project (initiation or implementation phase)" data-direction="thumbsup" checked="checked">
    <label class="radio-text based-on-label" >Real-world project (initiation or implementation phase)</label>
  </div>
  <div class="col-sm-12">
    <input type="radio" name="based-on" value="Real-world project (field tests or in production)" data-direction="thumbsdown">
    <label class="radio-text based-on-label">Real-world project (field tests or in production)</label>
  </div>
  <div class="col-sm-12">
    <input type="radio" name="based-on" value="Pilots, testbeds, experiments in general" data-direction="thumbsdown">
    <label class="radio-text based-on-label">Pilots, testbeds, experiments in general</label>
  </div>
  <div class="col-sm-12">
    <input type="radio" name="based-on" value="others (please describe below)" data-direction="thumbsdown">
    <label class="radio-text based-on-label">others (please describe below)</label>
  </div>
  <div class="col-sm-12">
    <textarea id="feedback-reason"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 buttons">
    <button class="related-feedback-submit">Submit</button>
    <button class="related-feedback-close" data-dismiss="modal">Close</button>
  </div>
</div>
