<div>Cannot find assessment '{{assessmentId}}'.</div>
<div>You may have received this URL from someone else, but the person did not
  provide the associated data.</div>
<div>Contact the person who gave you this URL and request the person to click
  "SAVE" and to send you the associated data. You can then import the data by
  clicking "LOAD" above.</div>
