<div class="btn-group dropup">
  <button type="button" class="btn btn-secondary dropdown-toggle assessment-dropup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Load existing assessments
  </button>
  <div class="dropdown-menu assessment-menu-dropdown">
    {{#each assessments as |assessment|}}
      <a class="dropdown-item" href="{{assessment.href}}">{{assessment.name}}</a>
    {{else}}
      No assessments yet.
    {{/each}}
    <div class="dropdown-divider"></div>
    <button class="question-assessment-create" data-survey-tool-action="create-new-assessment">CREATE</button>
</div>