<div class="main-content-overflow">
  <h3>{{selectedCategory.modularDetailsName}}</h3>
  {{{selectedCategory.modularDetailsContent}}}
</div>
<div class="questionnaire question buttons-fixed">
  <div class="row buttons">
    <div class="col-sm-12">
      <a class="module-details-back" data-warpjs-module-id="{{selectedCategory.id}}" data-warpjs-question-id="{{questionId}}">Back to Modules</a>
    </div>
  </div>
</div>