<div class="main-content-overflow">
  <div class="questionnaire spider">
    <div class="row">
      <div class="col-12 spider-container">
        <svg class="spider {{type}}-spider" width="800" height="700" pointer-events="all"></svg>
      </div>
    </div>
  </div>
</div>