<div class="main-content-overflow">
  <div class="questionnaire spider">
    <div class="row spider-header">
      <div class="col-sm-7 spider-title"><h2>All questions of this assessment in one overview<h2></div>
      <div class="col-sm-5 spider-buttons">
        <a class="spider-show show-all">show all nodes</a>
        <a class="auto-collapse">keep nodes open</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 spider-container">
        <svg class="spider {{type}}-spider" width="800" height="700" pointer-events="all"></svg>
      </div>
    </div>
  </div>
</div>