<div class="main-content-overflow">
  <div class="questionnaire spider">
    <div class="row">
      <div class="col-12">
        <h2 class="ipt-title-question">{{question.name}}</h2>
        <p>{{{question.content}}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 spider-container">
        <svg class="spider" width="800" height="700"></svg>
      </div>
    </div>
  </div>
</div>
<div class="questionnaire question buttons-fixed">
  <div class="buttons row">
    <div class="col-sm-4">
      <button class="question-back">back</button>
    </div>
    <div class="col-sm-4 col-sm-push-4">
      <button class="next question-next">NEXT</button>
    </div>
  </div>
</div>