<div class="survey-tool-load-assessment-error-popup">
  <div class="survey-tool-load-error-popup-message">
    Error loading file. Make sure it is an export file from this site.
  </div>
  <button type="button" class="btn btn-default" data-survey-tool-action="error-close">Close</button>
</div>