<div class="questionnaire">
  <div class="row">
    <div class="col-12">
      <h2 class="ipt-title">Project Description</h2>
      <form class="project-description">
        <label for="project-name">Project Name</label>
        <input type="text" class="form-control" id="project-name" />
        <label for="main-contact">Main Contact</label>
        <input type="text" class="form-control" id="main-contact" />
        <label for="project-status">Project Status</label>
        <input type="text" class="form-control" id="project-status" />
      </form>
    </div>
  </div>
  <div class="buttons row">
    <div class="col-sm-4">
      <button class="back description-back">back</button>
    </div>
    <div class="col-sm-4 col-md-push-4">
      <button class="next description-next">Next Question</button>
    </div>
  </div>
</div>