<div class="questionnaire">
  <div class="row">
    <div class="col-12">
      <h2 class="ipt-title">Solution Canvas</h2>
      <p>The Solution Canvas shown below will be used to guide you through the questions. It is a high-level abstraction of a typical IIoT project, and will help you to better put the questions and answers into context.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="solution-canvas"></div>
    </div>
  </div>
  <div class="buttons row">
    <div class="col-sm-4">
      <button class="back solution-canvas-back">back</button>
    </div>
    <div class="col-sm-4 col-md-push-4">
      <button class="next solution-canvas-next">NEXT</button>
    </div>
  </div>
</div>