<div class="questionnaire">
  <div class="row">
    <div class="col-12">
      <h2 class="ipt-title">Privacy</h2>
      <p>Because the questions in the IIC Project Explorer have to go into a relatively high level of detail in order to be helpful, privacy of your data will have to be ensured. By default, IIC will not store any data about your project on its servers. Instead you will be able to download your project assessment results from the explorer, and store them on your own server. They can be later loaded into the browser again to re-start the explorer.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="privacy-lock-container">
        <div class="privacy-lock"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 buttons">

    </div>
    <div class="buttons row">
      <div class="col-sm-4">
        <button class="back privacy-back">back</button>
      </div>
      <div class="col-sm-4 col-md-push-4">
        <button class="next privacy-next">NEXT</button>
      </div>
    </div>
  </div>
</div>