<div class="questionnaire">
  <div class="row">
    <div class="col-12">
      <h2 class="ipt-title summary-title">Summary</h2>
      <h2 class="ipt-title summary-title">Details</h2>
      <h2 class="ipt-title summary-title">Related Readings</h2>
    </div>
  </div>
  <div class="row">

  </div>
  </div>
</div>