<div class="questionnaire">
  <div class="row">
    <div class="col-12">
      <h2 class="ipt-title">End</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 buttons">
      <button class="next center end-next">NEXT</button>
    </div>
  </div>
</div>