<div class="questionnaire">
  <div class="row">
    <div class="col-12">
      <h2 class="ipt-title">Solution Canvas</h2>
      <p>The Solution Canvas shown below will be used to guide you through the questions. It is a high-level abstraction of a typical IIoT project, and will help you to better put the quesitons and answers into context.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="solution-canvas"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 buttons">
      <button class="next center solution-canvas-next">NEXT</button>
    </div>
  </div>
</div>