<div class="questionnaire summary">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="ipt-title summary-title faded">Summary</h2>
      <h2 class="ipt-title summary-title">Details</h2>
      <h2 class="ipt-title summary-title faded">Related Readings</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p>Solution / Testbed Name</p>
      <p class="form-details">{{formDetails.name}}</p>
    </div>
    <div class="col-sm-3">
      <p>Main Contact</p>
      <p class="form-details">{{formDetails.contact}}</p>
    </div>
    <div class="col-sm-3">
      <p>Project Status</p>
      <p class="form-details">{{formDetails.status}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="summary-title"></h3>
    </div>
  </div>

  <div class="buttons row">
    <div class="col-sm-4">
      <button class="details-back">back</button>
    </div>
  </div>
</div>