<div class="questionnaire">
  <div class="row">
    <div class="col-12">
      <h2 class="ipt-title">Levels of Detail</h2>
      <p>Please indicate below how detailed you want the following project assessment to be:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form class="project-levels">
        <div class="level-container row">
          <div class="col-sm-1">
            <input type="radio" name="questionnaire-level" value="1">
          </div>
          <div class="col-sm-8 level-description">
            <h3>Quick Assessment</h3>
            <p class="radio-text">The quick assessment will help you getting a first, high-level assessment of your project.</p>
          </div>
          <div class="col-sm-2 level-timeframe">
            <p>15-30 mins</p>
          </div>
        </div>
        <div class="level-container row">
          <div class="col-sm-1">
            <input type="radio" name="questionnaire-level" value="2">
          </div>
          <div class="col-sm-8 level-description">
            <h3>Standard Assessment</h3>
            <p class="radio-text">The standard assessment will provide you with a level that will be sufficient for many project managers as a starting point, e.g. for a vendor RFI/RFP (Request of information/Proposal)</p>
          </div>
          <div class="col-sm-2 level-timeframe">
            <p>60-120 mins</p>
          </div>
        </div>
        <div class="level-container row">
          <div class="col-sm-1">
            <input type="radio" name="questionnaire-level" value="3">
          </div>
          <div class="col-sm-8 level-description">
            <h3>Detailed Assessment</h3>
            <p class="radio-text">The detailed assessment is in-depth, covering additional technical quesitons, e.g. as a prerequisite for a detailed solution design. <a href="">This level is only available to IIC memebers and their customers.</a></p>
          </div>
          <div class="col-sm-2 level-timeframe">
            <p>120-180 mins</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 buttons">
      <button class="next center levels-next">NEXT</button>
    </div>
  </div>
</div>