<div class="questionnaire description">
  <div class="row">
    <div class="col-12">
      <h2 class="ipt-title">{{question.name}}</h2>
      <form class="project-description">
        <label for="project-name">Project Name</label>
        <input type="text" class="form-control" id="project-name" value="{{projectName}}" required/>
        <div class="invalid-feedback">
          Project Name is required.
        </div>
        <label for="main-contact">Main Contact</label>
        <input type="text" class="form-control" id="main-contact" value="{{mainContact}}"/>
        <label for="project-status">Project Status</label>
        <input type="text" class="form-control" id="project-status" value="{{projectStatus}}"/>
      </form>
    </div>
  </div>
  <div class="buttons row">
    <div class="col-sm-4">
      <button class="back description-back">back</button>
    </div>
    <div class="col-sm-4 col-sm-push-4">
      <button class="next description-next">NEXT</button>
    </div>
  </div>
</div>