<div class="questionnaire">
  <div class="row">
    <div class="col-12">
      <h2 class="ipt-title">End</h2>
    </div>
  </div>
  <div class="row">
    <div class="buttons row">
    <div class="col-sm-4">
      <button class="question-back">back</button>
    </div>
    <div class="col-sm-4 col-md-push-4">
      <button class="end-next">Next Question</button>
    </div>
  </div>
  </div>
</div>