<div class="modal fade" id="save-warning-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="warning-description">
          <h5 class="modal-title">You are about to leave the questionnaire and lose all unsaved progress. Click "Continue" to proceed.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body warning-body">
        <button class="save-warning-continue">Continue</button>
      </div>
    </div>
  </div>
</div>