<div class="survey-tool">
  <div class="container-fluid">
    <div class="row title-section">
      <div class="logo-container">
        <a class="warpjs-home-link" href="">
          <div class="logo"></div>
        </a>
      </div>
      <div class="title-container">
        <div class="survey-type-title-container survey-type-ipt">
          <div class="title-icon ipt-icon"></div>
          <div class="icon-text-right">
            <h2>IIC Project Explorer</h2>
          </div>
        </div>
        <div class="survey-type-title-container survey-type-mm">
          <div class="title-icon mm-icon"></div>
          <div class="icon-text-right">
            <h2>Maturity Assessment</h2>
          </div>
        </div>
      </div>
      <div class="progress-header-container">
        <div class="progress-container">
          <span class="progress-label">Progress</span>
          <div class="progress-bar-container">
            <div class="progress-bar"></div>
          </div>
          <h3 class="ipt-title"></h3>
        </div>
      </div>
      <div class="header-buttons-container">
        <div class="blue-button-container">
          <button class="blue-button spider-button">Overview</button>
          <button class="blue-button copyright tooltip-wide" data-toggle="tooltip" data-html="true" title="{{> copyright}}" data-placement="bottom">&copy;</button>
          <button class="blue-button copyright-mm tooltip-wide" data-toggle="tooltip" data-html="true" title="{{> copyright-mm}}" data-placement="bottom">&copy;</button>
          <button class="blue-button" data-survey-tool-action="download-json">Export</button>
          <button class="blue-button" data-survey-tool-action="load-json">Import</button>
        </div>
      </div>
    </div>
    <div class="ipt-container">
      <div class="col-xs-12 ipt-body">
        {{> loading}}
      </div>
    </div>
  </div>
</div>
