<div class="questionnaire email-form">
  <div class="buttons row">
    <div class="col-sm-4">
      <button class="email-back-to-related">back</button>
      <button class="email-back-to-details">back</button>
    </div>
  </div>
  <div class="email-container">
    <h2 class="email-title">Would you like to stay in touch?</h2>
    <p>Please leave your email address if you want to get updates on new features and content for the IIC explorer.</p>
    <div class="row">
      <div class="col-sm-12">
        <label class="email-form-label" for="name">Name</label>
        <input type="text" id="name" name="name">
        <label class="email-form-label" for="email">eMail</label>
        <input type="text" id="email" name="email">
        <input type="submit" value="submit" class="email-submit">
      </div>
    </div>
  </div>
</div>