<div class="questionnaire related-readings">
  <h2 class="ipt-title results-title faded">Summary</h2>
  <h2 class="ipt-title results-title faded">Details</h2>
  <h2 class="ipt-title results-title">Related Readings</h2>
  <div class="row">
    <div class="col-sm-12">
      <p>The following contains a list of related readings that directly apply to your project. Using IIC's Actionable Intelligence Algorithms, we were able to create individual matches for you.</p>
    </div>
  </div>
  <div class="row">
    {{#each readings}}
      {{#if recommendationName}}
        <div class="col-sm-4">
          <div class="related-reading">
            <h3>{{name}}</h3>
            <div class="related-reading-image"></div>
            <h2>{{recommendationName}}</h2>
            <a class="releated-read-more" data-result-set="{{id}}">Read more</a>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="buttons row">
    <div class="col-sm-4">
      <button class="related-reading-back">back</button>
    </div>
  </div>
</div>